# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars

# Ansible
**/*.retry

# Sensitive files
**/secrets.auto.tfvars
**/*.pem
**/*.key

# SSH
**/id_*

# Logs
*.log
**/logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp
